@import url('https://fonts.googleapis.com/css2?family=Anton&family=Berkshire+Swash&family=Fira+Sans+Condensed:ital,wght@0,300;1,700;1,900&family=Lilita+One&family=Oswald:wght@500&family=Secular+One&family=Spline+Sans+Mono:wght@400;600&display=swap');


/* Formatações gerais */
* {
    font-family: 'Montserrat', sans-serif;
}

/* Todos hgroup com class titulo1 ficarão centralizados*/
* hgroup.titulo1 {
    text-align: center;
}

div#interface{
    width: 100%;
    background-color: #fff;
    display: block;
}

/*Menu Flutuando fixo*/

nav#menu {
    background-color: #ff6f09;
    width: 100%;
    top: 0%;
    position: fixed;
    box-shadow: 1px 3px rgba(0, 0, 0, .4);
}

nav#menu ul {
    display: inline-block;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    top: 0;
    left: 550px ;
    position: absolute;
}

/* alinahndo os icones do menu */
nav#menu li {
    display: inline-block;
    padding: 10px;
}


/*retirando uderline dos links */

nav#menu li a {
    text-decoration: none;
    color: #fff;
}

nav#menu li:hover {
    background-color: #d06c20;
    transition: 0.8s;
}

/*Container - Content */

.container {
    text-align: center;
    background-color: rgba(10, 10, 93, 0.927);
    height: 600px;
    width: 100%;
    letter-spacing: 3px;
    margin-top: 85px;
    border: 1px solid #CCC;
}

.content-top {
    color: rgb(255, 255, 255);
    width: 40%;
    float: right;
    margin-right: 200px;
}

/* Nosso serviços */

.nosso-servico {
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: 700px;
    border: 1px solid #CCC;
}

ul#album-subcont {
    width: 100%;
    height: auto;
    /*margem na esqueda e 0 para todas as ouitras*/
    list-style: none;
}

.album li {
    width: 350px;
    height: 250px;
    display: inline-flex;
    margin-left: 100px;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);

}


.album li#foto01 {
    background: url('/img/services/responsive.png') no-repeat;
}

.album li#foto02 {
    background: url('/img/services/bs3.png') no-repeat;
}

.album li#foto03 {
    background: url('/img/services/free.png') no-repeat;
}

.headear{
    border: 1px solid black;
}

hgroup h3 {
    color: rgb(5, 221, 236);
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    margin-top: auto;
    margin-left: -90px;
    text-align: center;
}

hgroup.subcont p {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    margin-top: auto;
    margin-left: -90px;
    text-align: center;
}

hgroup.subconth {
    margin-top: 300px;
}


/*Portfolio*/

#portfolio {
    background-color: #ed0909;
    text-align: center;
    width: 100%;
    height: 700px;
    justify-content: space-around;
    border: 1px solid #CCC;
}

.album li#foto04 {
    background: url('/img/portfolio/img1.jpg') no-repeat;
}

.album li#foto05 {
    background: url('/img/portfolio/img2.jpg') no-repeat;
}

.album li#foto06 {
    background: url('/img/portfolio/img3.jpg') no-repeat;
}

.album li#foto07 {
    background: url('/img/portfolio/img4.jpg') no-repeat;
}

.album li#foto08 {
    background: url('/img/portfolio/img5.jpg') no-repeat;
}

.album li#foto09 {
    background: url('/img/portfolio/img6.jpg') no-repeat;
}

/* Clients */

div#clients{
    text-align: center;
    background-color: #fff;
    border: 0.5px solid #CCC;
    width: auto;
    height: 500px;
}

.img-cli1,
.img1-c {
    width: 200px;
    height: 150px;
    margin-top: 40px;
    margin-right: 150px;
    display: inline-block;
}

.img-cli2,
.img2-c {
    width: 200px;
    height: 150px;
    margin-top: 40px;
    margin-right: 150px;
    display: inline-block;

}

.img-cli3,
.img3-c {
    width: 200px;
    height: 150px;
    margin-top: 40px;
    margin-right: 150px;
    display: inline-block;

}


.img-cli4,
.img4-c {
    width: 200px;
    height: 150px;
    margin-top: 40px;
    margin-right: 150px;
    display: inline-block;

}

/* About Us */

#about-us {
    text-align: center;
    width: 100%;
    height: 700px;
    background-color: rgba(10, 10, 93, 0.927);
    border: 1px solid black;
}

hgroup#menu-sobre {
    display: block;
}

#text-content {
    display: block;
    width: 50%;
    float: left;
    margin: 0px auto;
    margin-top: 50px;
}

#text-content-graph {
    display: block;
    width: 400px;
    height: 400px;
    margin: 0px auto;
    margin-top: 10  0px;
}

/*Footer - Rodapé*/

.rodape-final {
    background-color: #d3d3d3;
    color: white;
    display: flex;
    height: 500px;
}

.art-rodape {
    display: block;
    width: 33.33%;
    margin: 50px;
    font-size: 10pt;

}

article {
    /* Apenas para centralizar o texto na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}